form.nk-form label {
    width: 100%;
}
form.nk-form input#terms {
    width: auto;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}
.nk-product-bottom {
    margin-top: -1px;
}
.nk-social-profile .nk-social-profile-info-last-seen {
    float: left;
}

@media (max-width:575px) {
    .hide-xs {
        visibility: hidden;
        display: none;
    }
    .align-center-xs {
        text-align: center;
    }
    .text-white-xs {
        color: #fff !important;
    }
    .nk-title-back-xs {
        font-size: 65px;
        padding: 30px 0 100px;
        text-align: center;
    }
}