@import url('rpg-awesome.min.css');
form.nk-form label {
    width: 100%;
}

form.nk-form input#terms {
    width: auto;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}

.nk-product-bottom {
    margin-top: -1px;
}

.nk-social-profile .nk-social-profile-info-last-seen {
    float: left;
}

.nk-social-container {
    background-color: #0e0e0e;
    padding: 30px 70px 70px;
}

.nk-social-friends .nk-social-friends-actions {
    text-align: right;
    float: right;
    position: absolute;
    right: 0;
}

.nk-social-friends .nk-social-friends-info {
    float: left;
    width: 100%;
}


/*
* Lineage Styles
*/

.nk-social-friends .nk-social-friends-avatar img {
    border-radius: inherit;
}

.nk-pagination {
    margin-bottom: -40px;
    margin-top: 20px;
}

i.is-nobless {
    color: #FFFF00;
    line-height: inherit;
    font-size: 25px;
    text-align: center;
    margin: auto;
    display: block;
    margin-right: 25px;
}

i.is-nobless:after {
    content: 'Noblesse';
    font-size: 10px;
    display: block;
    margin-top: -10px;
    font-family: "Roboto Condensed", sans-serif;
}

i.is-hero {
    color: #FFFF00;
    line-height: inherit;
    font-size: 25px;
    text-align: center;
    margin: auto;
    display: block;
    margin-right: 25px;
}

i.is-hero:after {
    content: 'Hero';
    font-size: 10px;
    display: block;
    margin-top: -10px;
    font-family: "Roboto Condensed", sans-serif;
}

@media (max-width:575px) {
    .hide-xs {
        visibility: hidden;
        display: none;
    }
    .align-center-xs {
        text-align: center;
    }
    .text-white-xs {
        color: #fff !important;
    }
    .nk-title-back-xs {
        font-size: 65px;
        padding: 30px 0 100px;
        text-align: center;
    }
    .nk-social-friends .nk-social-friends-actions {
        text-align: right;
        float: right;
        position: inherit;
    }
}